---
layout: base.njk
eleventyNavigation:
  key: home
  title: Home
  order: 1
---
<h2>All Pages</h2>

<section id="all">
  {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</section>